<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vimeotest.vimeo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VimeoTest</name>
    <preference name="deployment-target" value="12.0" />
    <description>Vimeo Test App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Vimeo Test
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true" />
    <allow-navigation href="*" />
    <allow-navigation href="file://*/*" />
    <allow-navigation href="*://*vimeo.com/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="target-device" value="tablet" />
</widget>
